<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uballn-basketball.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7083BB8E1FB501DD00EC5C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7083BBA21FB501DD00EC5C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7083BBAD1FB501DE00EC5C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
